body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    -webkit-text-size-adjust: none;
    margin: 0; padding: 0;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

table, tbody, tr, th, td {
    display: block;
    margin: 0; padding: 0;
}

#dirlist h1 {
    display: none;
}

tr {
    position: relative;
}

td a {
    display: block;
    border-bottom: 1px solid #D8D8D8;
    color: #222;
    font-weight: bold;
    text-decoration: none;
    height: 42px;
    padding-left: 40px;
    line-height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 30px;
}

tr:hover {
    background: #0F74F1;
    background: -webkit-gradient(linear, 0 top, 0 bottom, from(#0F74F1), to(#0842DF) );
    background: -moz-linear-gradient(-90deg, #0F74F1, #0842DF );
}


td a:hover {
    color: white;
}

/* directory links*/
td a[href*="/"] { background: url(/mindexes/icons/pointer-gray.png) right center no-repeat; }
td a[href*="/"]:hover { background-image: url(/mindexes/icons/pointer-white.png); }


tr td:first-child,
tr td:nth-child(3),
tr td:nth-child(4) {
    position: absolute;    
    pointer-events: none;
    text-align: left;
    font-size: 13px;
}


/* Icon */
tr td:first-child {
    left: 8px;
    top: 8px;   
}

/* Date Modified */
tr td:nth-child(3) {
    color: #7E7E7E;
    left: 40px;
    top: 24px;
}

/* Size */
tr td:nth-child(4) {
    top: 24px;
    left: 160px;
    color: #1D58CE;
}

tr:hover td:nth-child(3),
tr:hover td:nth-child(4) { color: #FFF;} 


/**** First row for sorting ****/

tr:first-child {
    background: #6E829E;
    background: -moz-linear-gradient(-90deg, #A0ADC0, #7588A3 50%, #6E829E 50%,  #5A6F8F);
    background: -webkit-gradient(linear, 0 top, 0 bottom, from(#A0ADC0),
        color-stop(50%, #7588A3), color-stop(50%, #6E829E), 
        to(#5A6F8F) );
    height: 42px;    
    border-top: 1px solid #CFD6E0;
    border-bottom: 1px solid #212832;
    
}

th {
    float: left;
}

th:first-child {
    width: 80px;
}

/* Header links & Parent Dir link */
th a,
td a[href^="/"] {
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    background: #4A6594;
    background: -moz-linear-gradient(-90deg, #7B92B3, #4A6594 50%, #385588 50%,  #3A5789);
    background: -webkit-gradient(linear, 0 top, 0 bottom, from(#7B92B3),
        color-stop(50%, #4A6594), color-stop(50%, #385588), 
        to(#3A5789) );
    border: 1px solid;
    border-color: #24282F #3E506C #3E506C;
    margin-top: 7px;
    margin-right: 0;
    -webkit-box-shadow: 0 1px hsla(0,0%,100%,.3);
       -moz-box-shadow: 0 1px hsla(0,0%,100%,.3);
            box-shadow: 0 1px hsla(0,0%,100%,.3);
    text-shadow: 0 -1px hsla(0,0%,0%,.7);
}

th:nth-child(2) a {
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
            border-bottom-left-radius: 5px;
    border-right: none;
}

th:nth-child(3) a {
    border-right: none;
}

th:nth-child(4) a {
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
            border-bottom-right-radius: 5px;
}


/* Parent Diretory link */
td a[href^="/"] {
    position: absolute;
    left: 3px;
    top: -43px;
    color: transparent;
    text-shadow: none;
    width: 42px;
    overflow: visible;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
td a[href^="/"]:hover {
    color: transparent;
}

td a[href^="/"]:before {
    content: '';
    display: block;
    border-style: solid;
    position: absolute;
    width: 20px;
    background: url(/mindexes/icons/pointer-left-mask.png) no-repeat;
    height: 32px;
    top: -4px;
    left: -4px;
}

td a[href^="/"]:after {
    display: block;
    position: absolute;
    top: 0;
    left: 14px;
    content: 'Parent';
    color: white;
    text-shadow: 0 -1px hsla(0,0%,0%,.7);
}

th a:hover,
td a[href^="/"]:hover {
    background: #2C3B64;
    background: -moz-linear-gradient(-90deg, #697493, #2C3B64 50%, #1C2D57 50%,  #1D2E59);
    background: -webkit-gradient(linear, 0 top, 0 bottom, from(#697493),
        color-stop(50%, #2C3B64), color-stop(50%, #1C2D57), 
        to(#1D2E59) );
    
}

/* Hide Description column*/
tr td:nth-child(5) { display: none;}

/* hide ugly Apache icons */
img[src^="/icons"] {
    visibility: hidden;
}

/**** README contents ****/

/* Un-comment this next line if you'd prefer no README files in the iPhone view */
/*#readme { display: none; }*/

#readme {
    background: #EEE;
    padding: 10px;
    font-size: 0.9em;
    line-height: 1.4em;
}

h2.readme-title {
    font-size: 0.95em;
    border-bottom: 1px solid #CCC;
}
h2.readme-title a {
    text-decoration: none;
}

#readme h1 { font-size: 1.2em; }
#readme h2 { font-size: 1.15em; }
#readme h2 { font-size: 1.1em; }

#readme pre {
    background: #FFF;
    padding: 10px;
}

