# Windex .htaccess
# see options at https://httpd.apache.org/docs/2.4/mod/mod_autoindex.html

Options +Indexes

IndexOptions FancyIndexing
IndexOptions FoldersFirst IgnoreCase XHTML NameWidth=* HTMLTable
IndexOptions SuppressHTMLPreamble SuppressRules SuppressDescription
IndexOptions IconHeight=24 IconWidth=24
IndexOptions IconsAreLinks
# I disable this stuff, but you might like it
IndexOptions SuppressLastModified SuppressColumnSorting

HeaderName /windex/header.html
ReadmeName /windex/footer.html

# Uncomment this to hide windex/ in listing
# IndexIgnore windex

# Icons

DefaultIcon /windex/icons/file.svg

AddIcon /windex/icons/blank.svg       ^^BLANKICON^^
AddIcon /windex/icons/folder.svg      ^^DIRECTORY^^
AddIcon /windex/icons/back.svg        ..

# Specific icons

AddIcon /windex/icons/text.svg        .md
AddIcon /windex/icons/script.svg      .js .json .mjs .php .sh .bash
AddIcon /windex/icons/archive.svg     .zip .bin .tar .rar .tgz .7z
AddIcon /windex/icons/vector.svg      .ai .svg .eps
# TODO spreadsheet,database

# Generic icons

AddIconByType (TXT,/windex/icons/text.svg) text/*
AddIconByType (IMG,/windex/icons/image.svg) image/*
AddIconByType (SND,/windex/icons/audio.svg) audio/*
AddIconByType (VID,/windex/icons/video.svg) video/*

# Enable viewing .html files without .html extension
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
