/*
  Indices styles: javascript version
    This does its magic based on a bunch of Javascript that cruises
    the DOM of Apache's HTML output and injects useful class names
    throughout.

  Indices: http://antisleep.com/software/indices
*/

/*==========================================================================*/

html {
}

body {
    font-family:  'Lucida Grande', 'Verdana', 'Helvetica Neue', Arial, sans-serif;
    font-size: 13px;
    background: #EEE;
    color: #222;
}

#pagecontainer {
    width: 700px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    -webkit-box-shadow: 0 5px 8px hsla(0,0%,0%,.2);
       -moz-box-shadow: 0 5px 8px hsla(0,0%,0%,.2);
            box-shadow: 0 5px 8px hsla(0,0%,0%,.2);
}

a {
    text-decoration:none;
    color: #26D;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 0;
}

/* HEADER STYLING ==========================================================*/



.header {
}

h1 {
    font-family:  'Helvetica Neue', Arial, sans-serif;
    font-weight: 100;
    font-size: 22px;
    margin-top: 0;
}

h1 strong { font-weight: 500;}

h1 a {
    color: #222;
    border-bottom: 2px solid transparent;
}

h1 a:hover {
    color: #16C;
    text-decoration: none;
    border-color: #16C;
}

.readme {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* TABLE STYLING ============================================================*/

table {
    padding: 0px;
    border-collapse: collapse;
}

tr,td,th {
    border: 0;
}

td,th {
    padding: 3px 10px 3px 0;
}

td a {
}

td a:hover {
    color: #222;
}


/* rollover effect for table rows, header cells */
tr:hover, th:hover {
}

th {
    border-bottom: 1px solid #e0e0e0;
    text-align: right;
}

th:nth-child(2) {
    text-align: left;
}

th a {
    color: #333333;
}


/* Don't show the 'Parent Directory' row */
.row_parentdir {
    display: none;
}

/* directories appear in bold */
td a[href*="/"] {
    font-weight: bold;
    color: #333;
    padding-right: 22px;

}
td a[href*="/"]:hover {
    color: #16C;
    background: url(/indices/icons/pointer-small.png) right center no-repeat;;
}



/* Parent Directory links  */
td a[href^="/"] {
    color: #16C;
    font-weight: normal;
}
td a[href^="/"],
td a[href^="/"]:hover { background: url(/indices/icons/up-arrow.png) right center no-repeat; }
td a[href^="/"]:hover { color: #222;}

/* all cells in ICON column */
tr td:nth-child(1) {
    text-align: center;
    width: 24px;
    padding: 1px 10px 1px 0;
}

td img {
    width: 24px;
}

/* Name cells */
tr td:nth-child(2) {
    width: 460px;
}

/* Last Modifed & Size */
tr td:nth-child(3),
tr td:nth-child(4) {
    text-align: right;
    padding-left: 10px;
    font-size: 11px;
}

/* Hide Description column*/
tr td:nth-child(5) { display: none;}

/* hide ugly Apache icons */
img[src^="/icons"] {
    display: none;
}

